<!DOCTYPE html>
<html>
	<head>
		<title>:: Temos Job ::</title>
		<link rel="shortcut icon" type="image/png" href="<%= asset_path 'favicon.png' %>"/>
		<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
		<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
		<%= csrf_meta_tags %>
	</head>
	<body>
		<div class="main">
			<%= yield %>
		</div>
		
		<script type="text/javascript">

		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-49587756-1']);
		_gaq.push(['_setDomainName', 'temosjob.com.br']);
		_gaq.push(['_trackPageview']);

		(function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();

		</script>
	</body>
</html>
